html{
    
}
body{
    
}

.weatherDataCont{
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: blue;
    border-radius: 15px;
}

.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    border-radius: 0px 15px 15px 0px;
    background-color: darkorchid;
}

.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}

.wicon{
    color: #ffff;
    box-shadow:#0000;
}

.temperature{
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    color: #fff;
}

.temperatureType{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.842); 
}